<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('receive_data') }}" method="post">
        <label for="name">Name</label>
        <input name="name" id="name" placeholder="Name"></input>
        <label for="password">Password</label>
        <input name="password" id="password" placeholder="Password" type="password"></input>
        <button type="submit">OK</button>
    </form>
</body>
</html>